<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <add key="generatorNumbersRangeStart" value="1000000 "/>
      <add key="generatorNumbersRangeEnd" value="9999999"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
<connectionStrings><add name="ApplicationDbContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=RandomNumberGenerator.Model.ApplicationDbContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>